{% extends 'Sample/base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}E-Mail: {{ sample.sha256 }} {% if sample.email.subject is defined %}({{ sample.email.subject }}){% endif %}{% endblock %}

{% block tabContent %}
    <dl class="row">
        {% if sample.email.from is defined %}
            <dt class="col-sm-3">From</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.from, sample.email.from_names is defined ? sample.email.from_names : []) }}</dd>
        {% endif %}
        {% if sample.email.to is defined %}
            <dt class="col-sm-3">To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.to, sample.email.to_names is defined ? sample.email.to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.cc is defined %}
            <dt class="col-sm-3">CC</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.cc, sample.email.cc_names is defined ? sample.email.cc_names : []) }}</dd>
        {% endif %}
        {% if sample.email.bcc is defined %}
            <dt class="col-sm-3">BCC</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.bcc, sample.email.bcc_names is defined ? sample.email.bcc_names : []) }}</dd>
        {% endif %}
        {% if sample.email.in_reply_to is defined %}
            <dt class="col-sm-3">In-Reply-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.in_reply_to, sample.email.in_reply_to_names is defined ? sample.email.in_reply_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.return_path is defined %}
            <dt class="col-sm-3">Return-Path</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.return_path, sample.email.return_path_names is defined ? sample.email.return_path_names : []) }}</dd>
        {% endif %}
        {% if sample.email.reply_to is defined %}
            <dt class="col-sm-3">Reply-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.reply_to, sample.email.reply_to_names is defined ? sample.email.reply_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.return_receipt_to is defined %}
            <dt class="col-sm-3">Return-Receipt-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.return_receipt_to, sample.email.return_receipt_to_names is defined ? sample.email.return_receipt_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.sender is defined %}
            <dt class="col-sm-3">Sender</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.sender, sample.email.sender_names is defined ? sample.email.sender_names : []) }}</dd>
        {% endif %}
        {% if sample.email.envelope_from is defined %}
            <dt class="col-sm-3">Envelope-From</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.envelope_from, sample.email.envelope_from_names is defined ? sample.email.envelope_from_names : []) }}</dd>
        {% endif %}
        {% if sample.email.envelope_to is defined %}
            <dt class="col-sm-3">Envelope-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.envelope_to, sample.email.envelope_to_names is defined ? sample.email.envelope_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.disposition_notification_to is defined %}
            <dt class="col-sm-3">Disposition-Notification-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.disposition_notification_to, sample.email.disposition_notification_to_names is defined ? sample.email.disposition_notification_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.return_receipt_to is defined %}
            <dt class="col-sm-3">Return-Receipt-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.return_receipt_to, sample.email.return_receipt_to_names is defined ? sample.email.return_receipt_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.abuse_reports_to is defined %}
            <dt class="col-sm-3">Abuse-Reports-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.abuse_reports_to, sample.email.abuse_reports_to_names is defined ? sample.email.abuse_reports_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.mail_reply_to is defined %}
            <dt class="col-sm-3">Mail-Reply-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.mail_reply_to, sample.email.mail_reply_to_names is defined ? sample.email.mail_reply_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.savedfromemail is defined %}
            <dt class="col-sm-3">SavedFromEmail</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.savedfromemail, sample.email.savedfromemail_names is defined ? sample.email.savedfromemail_names : []) }}</dd>
        {% endif %}
        {% if sample.email.errors_to is defined %}
            <dt class="col-sm-3">Errors-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.errors_to, sample.email.errors_to_names is defined ? sample.email.errors_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.delivered_to is defined %}
            <dt class="col-sm-3">Delivered-To</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.delivered_to, sample.email.delivered_to_names is defined ? sample.email.delivered_to_names : []) }}</dd>
        {% endif %}
        {% if sample.email.resent_from is defined %}
            <dt class="col-sm-3">Resent-From</dt>
            <dd class="col-sm-9 text-truncate">{{ macro.emailAddressList(sample.email.resent_from, sample.email.resent_from_names is defined ? sample.email.resent_from_names : []) }}</dd>
        {% endif %}
        {% if sample.email.subject is defined %}
            <dt class="col-sm-3">Subject</dt>
            <dd class="col-sm-9 text-truncate">{{ sample.email.subject }}</dd>
        {% endif %}
        {% if sample.email.organization is defined %}
            <dt class="col-sm-3">Organization</dt>
            <dd class="col-sm-9 text-truncate">{{ sample.email.organization }}</dd>
        {% endif %}
        {% if sample.email.thread_topic is defined %}
            <dt class="col-sm-3">Thread Topic</dt>
            <dd class="col-sm-9 text-truncate">{{ sample.email.thread_topic }}</dd>
        {% endif %}
        {% if sample.email.thread_index is defined %}
            <dt class="col-sm-3">Thread Index</dt>
            <dd class="col-sm-9 text-truncate">
                <a href="{{ path('app_search_filter', {email_thread_index: sample.email.thread_index}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.thread_index }}
            </dd>
        {% endif %}
        {% if sample.email.message_uuid is defined or sample.email.message_host_id is defined %}
            <dt class="col-sm-3">Message UUID@Host ID</dt>
            <dd class="col-sm-9 text-truncate">
                <a href="{{ path('app_search_filter', {email_message_uuid: sample.email.message_uuid}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.message_uuid }}@<a
                    href="{{ path('app_hostname_hostname', {hostname: sample.email.message_host_id}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.message_host_id }}
            </dd>
        {% endif %}
        {% if sample.email.list_uuid is defined and sample.email.list_host_id is defined %}
            <dt class="col-sm-3">List UUID@Host ID</dt>
            <dd class="col-sm-9 text-truncate">
                <a href="{{ path('app_search_filter', {email_list_uuid: sample.email.list_uuid}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.list_uuid }}@<a
                    href="{{ path('app_hostname_hostname', {hostname: sample.email.list_host_id}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.list_host_id }}
            </dd>
        {% elseif sample.email.list_uuid is defined %}
            <dt class="col-sm-3">List UUID</dt>
            <dd class="col-sm-9 text-truncate">
                <a href="{{ path('app_search_filter', {email_list_uuid: sample.email.list_uuid}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.list_uuid }}
            </dd>
        {% elseif sample.email.list_host_id is defined %}
            <dt class="col-sm-3">Host ID</dt>
            <dd class="col-sm-9 text-truncate">
                <a href="{{ path('app_hostname_hostname', {hostname: sample.email.list_host_id}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.list_host_id }}
            </dd>
        {% endif %}
        {% if sample.email.content_uuid is defined or sample.email.content_host_id is defined %}
            <dt class="col-sm-3">Content UUID@Host ID</dt>
            <dd class="col-sm-9 text-truncate">
                <a href="{{ path('app_search_filter', {email_content_uuid: sample.email.content_uuid}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.content_uuid }}@<a
                    href="{{ path('app_hostname_hostname', {hostname: sample.email.content_host_id}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ sample.email.content_host_id }}
            </dd>
        {% endif %}
        {% if sample.email.references is defined %}
            <dt class="col-sm-3">References</dt>
            <dd class="col-sm-9 text-truncate">
                {% for reference in sample.email.references %}
                <a href="{{ path('app_search_filter', {email_references: reference.uuid}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ reference.uuid }}@<a
                    href="{{ path('app_hostname_hostname', {hostname: reference.host_id}) }}"><i
                        class="fa-brands fa-searchengin"></i></a>{{ reference.host_id }}<br/>
                {% endfor %}
            </dd>
        {% endif %}
        {% if sample.email.date is defined %}
            <dt class="col-sm-3">Date</dt>
            <dd class="col-sm-9 text-truncate">{{ sample.email.date }}</dd>
        {% endif %}
        {% if sample.email.received is defined %}
            <dt class="col-sm-3">Received</dt>
            <dd class="col-sm-9">
                {% for receivedLine in sample.email.received %}
                    {{ receivedLine }}<br>
                {% endfor %}
            </dd>
        {% endif %}
        {% if sample.email.x_headers is defined %}
            {% for x_header in sample.email.x_headers %}
                <dt class="col-sm-3">{{ x_header.name }}</dt>
                <dd class="col-sm-9">{{ x_header.value }}</dd>
            {% endfor %}
        {% endif %}
    </dl>
    {% if sample.email.body is defined %}
        <div class="card">
            <div class="card-header">
                E-Mail Body
                {% if sample.email.body_type is defined %}
                    ({{ sample.email.body_type }})
                {% endif %}
            </div>
            <div class="card-body">{{ sample.email.body|nl2br }}</div>
        </div>
    {% endif %}
    {% if attachments|length > 0 %}
        <br/>
        <div class="card">
            <div class="card-header">Attachments</div>
            <div class="card-body">
                {% for attachment in attachments %}
                    {% for path in attachment.paths %}
                        <a href="{{ path('app_sample_metadata', {'sha256': attachment.child.sha256}) }}"><i
                                class="fa-solid fa-eye"></i></a>
                        {{ path.fileName }} {% if attachment.child.size %}({{ attachment.child.size|fileSize }}){% endif %}
                        <br/>
                        {% if attachment.child.thumbnail %}
                            <img src="{{ path('app_thumbnail_thumbnail', {sha256: attachment.child.sha256}) }}"/>
                            <br/>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% if attachments|length < childrenCount %}
            ...
        {% endif %}
    {% endif %}
{% endblock %}
