{% extends "base.html.twig" %}
{% block body %}
    <h2>{{ sample.sha256 }}</h2>
    <div class="row">
        <div class="col-4">
            <h3>Metadata</h3>
            <dl class="row">
                <dt class="col-sm-3">SHA256</dt>
                <dd class="col-sm-9 text-truncate">{{ sample.sha256 }}</dd>
                <dt class="col-sm-3">MD5</dt>
                <dd class="col-sm-9">{{ sample.md5 }}</dd>
                <dt class="col-sm-3">SHA1</dt>
                <dd class="col-sm-9">{{ sample.sha1 }}</dd>
                <dt class="col-sm-3">CRC32</dt>
                <dd class="col-sm-9">{{ sample.crc32 }}</dd>
                {% if sample.fileMagic %}
                    <dt class="col-sm-3">Magic</dt>
                    <dd class="col-sm-9">{{ sample.fileMagic }}</dd>
                {% endif %}
                {% if sample.fileNames %}
                    <dt class="col-sm-3">Names</dt>
                    <dd class="col-sm-9">{{ sample.fileNames|join(', ') }}</dd>
                {% endif %}
            </dl>
        </div>
        <div class="col-4">
            <h3>Child Files</h3>
            {% if children|length == 0 %}
                <i>No child files</i>
            {% else %}
                <ul>
                    {% for subfile in children %}
                        <li>
                            <a href="{{ path('app_sample_sample', {sha256: subfile.child.sha256}) }}">{{ subfile.child.sha256 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-4">
            <h3>Parent Files</h3>
            {% if parents|length == 0 %}
                <i>No parent files</i>
            {% else %}
                <ul>
                    {% for subfile in parents %}
                        <li>
                            <a href="{{ path('app_sample_sample', {sha256: subfile.parent.sha256}) }}">{{ subfile.parent.sha256 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
