{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macro %}

{% block title %}Search Result for "{{ query }}"{% endblock %}

{% block body %}
    <p>Query: {{ query }}</p>
    {% if total is defined %}
        <p>Total: {{ total }}</p>
    {% endif %}

    {% if samples|length == 0 %}
        <i>No results found</i>
    {% else %}
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2">{{ macro.pagination(pageCount, currentPage) }}</div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>SHA256</th>
                <th>Magic</th>
                <th>Size</th>
                <th>Filenames</th>
            </tr>
            </thead>
            <tbody>
            {% for sample in samples %}
                <tr>
                    <td>
                        <a href="{{ path('app_sample_metadata', {'sha256': sample.sha256}) }}"><i
                                class="fa-solid fa-eye"></i></a>
                        {{ sample.sha256 }}
                    </td>
                    <td>{{ sample.fileMagic ? sample.fileMagic : '-' }}</td>
                    <td>{{ sample.size ? sample.size|fileSize : '-' }}</td>
                    <td>{{ sample.fileNames|join(" ") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
